bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
Conflux.sln.DotSettings.user

# Backend client
conflux-api-client/node_modules
conflux-api-client/package-lock.json
conflux-api-client/src/**
!conflux-api-client/src/.gitkeep
Models/*